 /* ===== Scroll to Top Button ===== */
    #scrollTopBtn {
      display: none;
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 100;
      font-size: 20px;
      background-color: green; /* Red Fun Zone color */
      color: white;
      border: none;
      outline: none;
      padding: 12px 16px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.10s ease;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    #scrollTopBtn:hover {
      background-color: greenyellow; /* Yellow hover */
      color: #222;
      transform: scale(1.1);
    }